@using Microsoft.AspNetCore.Identity
@using Cookware.Models
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@inject SignInManager<ApplicationUser> SignInManager

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>cook && code admin dash</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="nav">
        <header class="navhead">
            <a class="navlink" href="@Url.Action("Index", "Home")"><h1>cook && code admin dash</h1></a>
        </header>
        <ul class="navbar">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="navitem">
                    <form action="/Account/Logout" method="post">
                        <button class="navlink navbutton">LOG OUT</button>
                    </form>
                </li>
                <li class="navitem">
                    <h4><a class="navlink" href="@Url.Action("Index", "BasketItem")">VIEW CART</a></h4>
                </li>
            }
            else
            {
                <li class="navitem">
                    <form action="/Account/Login" method="get">
                        <button class="navlink navbutton">LOG IN</button>
                    </form>
                </li>
            }
            <li class="navitem">
                <h4><a class="navlink" href="@Url.Action("Index", "Product")">SHOP</a></h4>
            </li>
            <li class="navitem">
                <h4><a class="navlink" href="@Url.Action("Index", "Home")">HOME</a></h4>
            </li>
        </ul>
    </div>
</body>
</html>
@RenderBody()