<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>cook && code</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>cook && code</h1>
    </header>

    <div class="nav">
        <h4><a href="@Url.Action("Index", "Home")">HOME</a></h4>
        <h4><a href="@Url.Action("Login", "Account")">LOGIN</a></h4>
        <h4><a href="@Url.Action("Register", "Account")">REGISTER</a></h4>
        <h4><a href="@Url.Action("Index", "Product")">SHOP</a></h4>
        <h4><a href="@Url.Action("Index", "BasketItem")">MY SHOPPING CART</a></h4>
        <h4><a href="@Url.Action("Index", "AboutUs")">ABOUT US</a></h4>



    </div>
</body>
</html>
@RenderBody()