@using Microsoft.AspNetCore.Identity;
@using Cookware.Models;

@model IEnumerable<Cookware.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout";
}

@inject SignInManager<ApplicationUser> SignInManager


<div class="deck">
    @foreach (var item in Model)
    {
        <div class="card">
            <p><img src="@item.Image" /></p>
            <p>@item.Name</p>
            <p>$@item.Price USD</p>
            <form method="post" id="Details" action="@Url.Action("Details", "Product")">
                <input type="hidden" name="productID" value="@item.ID" />
                <button class="button">Details</button>
            </form>
            @if (SignInManager.IsSignedIn(User))
            {
                <form action="/BasketItem/AddToCart" method="post">
                    <label for="Quantity">Qty. :</label>
                    <input class="qtyinput" type="number" name="Quantity" />
                    <input type="hidden" name="ProductID" value="@item.ID" />
                    <button class="button">Add To Cart</button>
                </form>
            }
        </div>
    }
</div>
@await Component.InvokeAsync("ShoppingCart")
