@model List<Cookware.Models.BasketItem>


@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout_Checkout";
}

<div class="deck">
    @foreach (var item in Model)
    {
    <div class="card">
        <p>@item.Product.Name</p>
        <p><img src="@item.Product.Image" /></p>
        <p>$@item.Product.Price USD</p>
        <p>Quanity: @item.Quantity</p>
        <form method="post" id="Edit" action="@Url.Action("Update", "BasketItem")">
            <input type="number" name="Quantity" />
            <input type="hidden" name="ProductID" value="@item.Product.ID" />
            <input type="hidden" name="ID" value="@item.ID" />
            <button class="button">Update</button>
        </form>
        <form method="post" id="Delete" action="@Url.Action("Delete", "BasketItem")">
            <input type="hidden" name="productID" value="@item.Product.ID" />
            <button class="button">Delete</button>
        </form>      
    </div>
    }

</div>